<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<div th:object="${alumno}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/alumno/save}" th:object="${alumno}"
					method="post" enctype="multipart/form-data">
					<div class="form-group row">
						<label for="username" class="col-sm-2 col-form-label">Username:</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{username}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombre}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="text" class="col-sm-2 col-form-label">Apellidos</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{apellido}" class="form-control"
								placeholder="En caso que no hay, dejar vacio o uno temporal"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="nivel" class="col-sm-2 col-form-label">Nivel:</label>
						<div class="col-sm-6">
							<input type="number" th:field="*{nivel}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('nivel')}" th:errors="*{nivel}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="fnacimiento" class="col-sm-2 col-form-label">Fecha
							de nacimiento</label>
						<div class="col-sm-6">
							<input type="text" id="mydate" name="fnacimiento"
								class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}"
								class="btn btn-secondary" />
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>



	<footer th:replace="layout/layout :: footer"></footer>
	<!-- 	<input type="hidden" id="urlAjax" th:value="@{/giro/cargar_giro/}" /> -->
	<!-- 	<script th:replace="proveedores/js/autocomplete :: javascript"></script> -->

	<script>
		$('#mydate').datepicker({
			format : "dd-mm-yyyy"
		});
	</script>
	<!-- 	<script th:src="@{/js/postrequestGiro.js}"></script> -->


</body>
</html>